#settlement{
    border: 2px solid black;
    padding: 6px;
    margin-top: 3px;
    margin-right: 1440px;
}

.material-icons{
    cursor: pointer;
}

.editingHighlight {
    background-color: #b1b1b1;
}

.settlementEdit{
    border: 2px solid black;
    padding: 6px;
    margin-top: 3px;
    margin-right: 1440px;
}